nav {
    padding: 40px 0 0 32px;
    width: 296px;
    height: 100vh;
}

.nav-link.active:active {
    color: $success;
}

.nav-link.active:active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid $success;
}

.nav-link.active:hover {
    color: $success;
}

.nav-link.active:hover::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid $success;
}

.nav-link.active:focus {
    color: $success;
}

.nav-link.active:focus::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid $success;
}

.nav-user {
    padding-left: 40px;
    padding-bottom: 32px;

    & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    & a {
        font-size: 14px;
        color: $gray-600;
        text-decoration: none;
    }
}

.main {
    padding: 2rem;

    & p {
        margin: 0;
    }
}

.todo-list {
    & .fs-7 {
        font-size: 12px;
        line-height: 15px;
    }

    & .header {
        padding: 32px 32px 18px 32px;
    }

    & .list-group {
        border-radius: 0;

        & .active {
            background-color: #F8F9FA;
            border: 1px solid #CED4DA;
            color: #212529;
        }
    }
}

.review {
    & .fs-7 {
        font-size: 12px;
        line-height: 15px;
    }

    & .gray-600 {
        color: $gray-600;
    }

    & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    & .border {
        border: 1px solid $gray-400;
    }

    & .border-bottom {
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-400;
    }
}